%p#notice= notice
.text-center
  =link_to "Affectiv Info", affectiv_emo_session_path(@emo_session), id: "button_nodes" ,class: "btn btn-#{params[:action] == 'affectiv' ? 'primary' : 'default'}"

  =link_to "Raw Info", raw_emo_session_path(@emo_session), id: "button_nodes" ,class: "btn btn-#{params[:action] == 'raw' ? 'primary' : 'default'}"

#emo_stock
=render "raw_chart", locals: {emo_entries: @emo_entries} if params[:action] == "raw"
=render "af_chart", locals: {emo_entries: @emo_entries} if params[:action] == "affectiv"

= link_to 'Edit', edit_emo_session_path(@emo_session)
\|
= link_to 'Back', emo_sessions_path
